/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
/* line 2, ../sass/myscss.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 13, ../sass/myscss.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 17, ../sass/myscss.scss */
body {
  line-height: 1;
}

/* line 21, ../sass/myscss.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/myscss.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/myscss.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 34, ../sass/myscss.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, ../sass/myscss.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 59, ../sass/myscss.scss */
.container .header {
  width: 1280px;
  height: 200px;
  margin: 0 auto;
  background-color: #A0A0A0;
}
/* line 65, ../sass/myscss.scss */
.container .header h1 {
  text-align: center;
  padding-top: 80px;
}
/* line 71, ../sass/myscss.scss */
.container .global-nav .global-nav__items {
  width: 1280px;
  margin: 0 auto;
}
/* line 74, ../sass/myscss.scss */
.container .global-nav .global-nav__items .global-nav__item {
  float: left;
  width: 256px;
  height: 100px;
  text-align: center;
}
/* line 75, ../sass/myscss.scss */
.container .global-nav .global-nav__items .global-nav__item:nth-child(odd) {
  background-color: #D2D2D2;
}
/* line 78, ../sass/myscss.scss */
.container .global-nav .global-nav__items .global-nav__item:nth-child(even) {
  background-color: #B7B7B7;
}
/* line 85, ../sass/myscss.scss */
.container .global-nav .global-nav__items .global-nav__item a {
  width: 100%;
  height: 100%;
  position: relative;
  top: 34px;
  left: 3px;
  text-decoration: none;
  color: #656565;
}
/* line 100, ../sass/myscss.scss */
.container .bread-crumbs {
  display: block;
  height: 40px;
  margin: 0 auto;
  background-color: #5D5D5D;
}
/* line 107, ../sass/myscss.scss */
.container .bread-crumbs .bread-crumbs__items .bread-crumbs__item {
  float: left;
  margin-left: 15px;
}
/* line 111, ../sass/myscss.scss */
.container .bread-crumbs .bread-crumbs__items .bread-crumbs__item a {
  position: relative;
  top: 5px;
  text-decoration: none;
  color: white;
}
/* line 120, ../sass/myscss.scss */
.container .top-ads {
  width: 1280px;
  margin: 0 auto;
  background-color: #CCCCCC;
}
/* line 126, ../sass/myscss.scss */
.container .top-ads .top-ads__items {
  display: block;
  width: 1280px;
}
/* line 130, ../sass/myscss.scss */
.container .top-ads .top-ads__items .top-ads__item {
  float: left;
  margin-left: 20px;
  padding: 20px 0;
}
/* line 139, ../sass/myscss.scss */
.container .body {
  width: 1280px;
  margin: 0 auto;
}
/* line 142, ../sass/myscss.scss */
.container .body .main {
  width: 840px;
  float: right;
}
/* line 146, ../sass/myscss.scss */
.container .body .main .main-header h2 {
  font-size: 39px;
  padding: 20px;
  padding-left: 40px;
  border-bottom: 1px solid #5D5D5D;
}
/* line 154, ../sass/myscss.scss */
.container .body .main .article {
  background-color: #DDDDDD;
}
/* line 156, ../sass/myscss.scss */
.container .body .main .article .article__strong {
  font-weight: bold;
}
/* line 159, ../sass/myscss.scss */
.container .body .main .article .article__title {
  padding-left: 40px;
  padding-top: 10px;
  font-size: 31px;
}
/* line 164, ../sass/myscss.scss */
.container .body .main .article .article__paragraph {
  width: 780px;
  margin-top: 20px;
  padding-left: 40px;
  font-size: 18px;
  line-height: 28px;
}
/* line 171, ../sass/myscss.scss */
.container .body .main .article h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
}
/* line 177, ../sass/myscss.scss */
.container .body .main .article .article__unorder-list {
  list-style-type: disc;
  font-size: 18px;
  margin-top: 20px;
  padding-left: 60px;
}
/* line 182, ../sass/myscss.scss */
.container .body .main .article .article__unorder-list .article__unorder-list-item {
  line-height: 25px;
  margin-top: 10px;
}
/* line 188, ../sass/myscss.scss */
.container .body .main .article .article__blockquote {
  width: 700px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 80px;
  font-size: 18px;
  line-height: 28px;
}
/* line 197, ../sass/myscss.scss */
.container .body .main .article .article__image {
  width: 800px;
  margin: 20px;
}
/* line 202, ../sass/myscss.scss */
.container .body .main .article h5 {
  font-size: 30px;
  color: #656565;
  margin-left: 30px;
}
/* line 208, ../sass/myscss.scss */
.container .body .main .article .article__order-list {
  list-style-type: decimal;
  font-size: 18px;
  margin-top: 20px;
  padding-left: 70px;
  padding-bottom: 50px;
}
/* line 214, ../sass/myscss.scss */
.container .body .main .article .article__order-list .article__order-list-item {
  line-height: 25px;
  margin-top: 10px;
}
/* line 222, ../sass/myscss.scss */
.container .body .main .form .form__title {
  font-size: 30px;
  color: #656565;
  margin: 30px;
}
/* line 227, ../sass/myscss.scss */
.container .body .main .form .form-item {
  text-align: right;
  margin-right: 20px;
}
/* line 233, ../sass/myscss.scss */
.container .body .main .form .form-item__label {
  font-size: 25px;
  font-weight: bold;
}
/* line 238, ../sass/myscss.scss */
.container .body .main .form input[name=example1], .container .body .main .form input[name=example2] {
  width: 580px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
}
/* line 244, ../sass/myscss.scss */
.container .body .main .form textarea {
  width: 580px;
  height: 400px;
  margin-bottom: 20px;
  border-radius: 5px;
}
/* line 251, ../sass/myscss.scss */
.container .body .main .form .form-item__inline-item {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
}
/* line 262, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(4) .form-item__label {
  position: relative;
  top: -400px;
}
/* line 268, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(5) .form-item__label {
  position: relative;
  left: -600px;
}
/* line 272, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(5) .form-item__inline-item {
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  top: -40px;
  left: -60px;
}
/* line 281, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(6) .form-item__label {
  position: relative;
  left: -600px;
}
/* line 285, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(6) .form-item__inline-item {
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  top: -40px;
  left: -60px;
}
/* line 294, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(7) .form-item__label {
  position: relative;
  left: -600px;
}
/* line 298, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(7) select {
  position: relative;
  top: -30px;
  width: 580px;
  height: 40px;
  background-color: #999999;
}
/* line 307, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(8) {
  margin-top: 20px;
}
/* line 309, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(8) .form-item__label {
  position: relative;
  top: -100px;
}
/* line 313, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(8) select {
  position: relative;
  top: -30px;
  width: 580px;
  height: 100px;
  background-color: #B7B7B7;
}
/* line 322, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(9) {
  margin-top: 20px;
}
/* line 324, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(9) .form-item__label {
  position: relative;
  top: -20px;
}
/* line 328, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(9) input[type=file] {
  position: relative;
  top: -30px;
  width: 580px;
  height: 30px;
  background-color: #B7B7B7;
  border-radius: 5px;
}
/* line 338, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(10) {
  margin-top: 20px;
}
/* line 340, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(10) .form-item__label {
  position: relative;
  left: -600px;
}
/* line 345, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(10) .form-item__actions-item input[type=submit] {
  position: relative;
  top: -30px;
  left: -330px;
  width: 250px;
  height: 50px;
  background-color: #5D5D5D;
  border-radius: 5px;
}
/* line 357, ../sass/myscss.scss */
.container .body .main .form .form-item:nth-child(10) .form-item__actions-item input[type=reset] {
  position: relative;
  top: -80px;
  left: -50px;
  width: 250px;
  height: 50px;
  background-color: #D2D2D2;
  border-radius: 5px;
}
/* line 372, ../sass/myscss.scss */
.container .aside {
  float: right;
  width: 440px;
  height: 1800px;
  background-color: #5D5D5D;
}
/* line 380, ../sass/myscss.scss */
.container .aside .aside-ads .aside-ads__items {
  padding: 60px;
}
/* line 382, ../sass/myscss.scss */
.container .aside .aside-ads .aside-ads__items .aside-ads__item {
  margin-bottom: 20px;
}
/* line 388, ../sass/myscss.scss */
.container .aside .local-nav {
  width: 440px;
  margin: 20px 0;
  background-color: #999999;
}
/* line 393, ../sass/myscss.scss */
.container .aside .local-nav .local-nav__items .local-nav__item {
  border-bottom: 1px solid #5D5D5D;
}
/* line 395, ../sass/myscss.scss */
.container .aside .local-nav .local-nav__items .local-nav__item a {
  width: 100%;
  height: 100%;
  padding-left: 80px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
/* line 410, ../sass/myscss.scss */
.container .footer {
  width: 1280px;
  margin: 0 auto;
  background-color: #444444;
  height: 500px;
}
/* line 416, ../sass/myscss.scss */
.container .footer .footer-nav {
  float: left;
  position: relative;
  left: 30px;
}
/* line 421, ../sass/myscss.scss */
.container .footer .footer-nav .footer-nav__items {
  float: left;
  margin-right: 50px;
  margin-top: 20px;
}
/* line 427, ../sass/myscss.scss */
.container .footer .footer-nav .footer-nav__items .footer-nav__item a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 5px;
}
/* line 437, ../sass/myscss.scss */
.container .footer .about-author {
  color: #8F8F8F;
  float: right;
  position: relative;
  top: 30px;
  left: -20px;
  border-radius: 5px;
  display: block;
  width: 630px;
  height: 350px;
  background-color: #CCCCCC;
}
/* line 449, ../sass/myscss.scss */
.container .footer .about-author .about-author__title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
/* line 455, ../sass/myscss.scss */
.container .footer .about-author img {
  width: 120px;
  border-radius: 50%;
  padding-left: 20px;
}
/* line 461, ../sass/myscss.scss */
.container .footer .about-author .about-author__descriptions {
  position: relative;
  top: -90px;
  left: 160px;
  font-size: 20px;
  color: #8F8F8F;
  width: 350px;
}
/* line 469, ../sass/myscss.scss */
.container .footer .about-author .about-author__descriptions .about-author__description {
  position: relative;
  top: -20px;
  left: 100px;
}
/* line 478, ../sass/myscss.scss */
.container .footer .footer-copyright {
  position: relative;
  left: 120px;
  top: 440px;
  text-align: center;
  color: white;
  font-size: 15px;
}
